@import url("https://fonts.googleapis.com/css?family=Noticia+Text|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash");
body {
  font-family: "Open Sans", sans-serif;
  background-color: #F7F7F7;
}

nav {
  background-color: #000000;
  position: relative;
}

nav {
  text-align: center;
}

nav li {
  display: inline-block;
  text-decoration: none;
  padding: 25px 10px;
}

nav a {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
}

nav a:hover {
  border-bottom: 5px solid #B88A56;
  padding-bottom: 45px;
  text-decoration: none;
  color: #FFFFFF;
}

nav p {
  font-family: "Berkshire Swash", cursive;
  color: #B88A56;
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  padding: 0;
  margin: -15px 0;
}

nav p:last-child {
  font-size: 12px;
}

nav .logo {
  margin: 20px 0;
  text-align: center;
  float: left;
  padding-bottom: 10px;
}

header {
  background-image: url(https://images.pexels.com/photos/900106/pexels-photo-900106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  object-fit: fill;
  text-align: center;
  height: 85vh;
  min-height: 400px;
  position: relative;
}

header .container {
  padding: 0;
  margin: 0;
}

.header-filter {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 20vh;
}

.header-filter p {
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
}

.header-filter p:first-child,
.header-filter p:nth-child(even) {
  font-size: 64px;
  margin: 0;
}

.header-filter p:nth-child(even) {
  color: #B88A56;
  line-height: 50px;
}

.header-filter .number {
  font-size: 22px;
  margin-top: 20px;
}

header button {
  margin-top: 30px;
  background-color: #B88A56;
  border-radius: 15px;
}

.gallery,
.about-us,
.services,
.team {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container-fluid,
.media .row {
  max-width: 950px;
  margin: 0 auto;
}

row::before,
row::after {
  content: "";
  display: table;
  clear: both;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.services {
  background-color: white;
}

.services .h2-class {
  margin-bottom: 100px;
}

.gallery .h2-class {
  margin-bottom: 30px;
}

.services p,
.about-us p,
.team p,
footer p {
  font-size: 16px;
  color: #A5A5A5;
}

span,
.h2-class p {
  font-size: 16px;
  color: #A5A5A5;
  font-style: italic;
}

.services .fa {
  border: 4px solid #FED541;
  border-radius: 50%;
  padding: 10px;
  width: 100px;
  height: 100px;
  line-height: 75px;
  color: #FED541;
  font-size: 50px;
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.gallery h4,
.about-us h4 {
  margin: 0;
}

.about-us {
  background-color: white;
}

.gallery-content {
  padding-top: 30px;
}

.gallery-description {
  padding: 10px 0;
  background-color: white;
}

.gallery-inside {
  height: 250px;
  position: relative;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layer div {
  border: 2px solid #B49C76;
  text-transform: uppercase;
  color: #B49C76;
  display: none;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  width: 100px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.layer p {
  margin: 0;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.layer:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  transition: .8s;
}

.layer:hover div {
  display: block;
}

.about-us h4 {
  margin-top: 15px;
}

.about-us img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid rgba(165, 165, 165, 0.6);
}

.about-us .row {
  padding: 50px 0;
}

.last-story {
  width: 200px;
  height: 200px;
  color: white;
  background-color: #FED541;
  font-weight: bold;
  border-radius: 50%;
  padding-top: 45px;
  margin: 0 auto;
  border: 4px solid rgba(165, 165, 165, 0.6);
}

.text-capitalize {
  font-weight: bold;
}

.vertical-line::after {
  content: '';
  display: block;
  width: 4px;
  height: 130px;
  background-color: rgba(165, 165, 165, 0.6);
  position: absolute;
  top: 200px;
  left: 50%;
}

.team img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid rgba(165, 165, 165, 0.6);
}

.team-img {
  text-align: center;
}

.team-content {
  padding: 50px;
}

.team-description {
  padding: 15px 5px;
}

.team-social_media .fa {
  font-size: 25px;
  border-radius: 50%;
  border: 2px solid #292929;
  padding: 10px;
  width: 50px;
}

.media {
  background-color: white;
  margin-top: 50px;
  padding: 60px 15px;
}

.logo img {
  width: 100%;
  height: 50px;
  object-fit: contain;
  filter: grayscale(100%);
}

.contact-us {
  background-image: url(http://40chtv.com/wp-content/uploads/2018/02/Maps-World-Map-Black-World-Map.jpg);
}

.contact-us .h2-class h2 {
  color: #FFFFFF;
  padding-top: 15px;
}

button {
  display: block;
  margin: 5px auto 60px auto;
  text-align: center;
  border-radius: 3px;
  width: 200px;
  height: 50px;
  background-color: #FED541;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
}

.contact-us .row {
  padding: 35px 15px;
}

footer {
  margin: 0px auto 40px auto;
  background-color: white;
  padding-top: 30px;
}

.social .fa {
  font-size: 25px;
  border-radius: 50%;
  background-color: #292929;
  color: #F9F9F9;
  padding: 10px;
  margin: 15px 5px;
  width: 50px;
}

footer p,
footer div {
  text-align: center;
}

@media (max-width: 768px) {
  /* For tablets and smartphones: */
  nav ul li {
    display: block;
    float: none;
    text-align: center;
  }
  nav img {
    display: block;
    margin: 10px auto;
    position: static;
  }
  .header-p p:nth-child(even) {
    font-size: 54px;
  }
  .layer {
    position: static;
    display: none;
    cursor: auto;
  }
  .layer div {
    display: block;
  }
  .vertical-line {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */