@import url('https://fonts.googleapis.com/css?family=Noticia+Text|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

$background-color: #F7F7F7;
$nav_background: #000000;
$dark-background-font: #FFFFFF;
$logo-font: 'Berkshire Swash', cursive;
$logo-color: #B88A56;
$p-color: #646464;

$fonts: 'Open Sans', sans-serif;
$gallery-color: #B49C76;
$fa: #FED541;
$smaller-font: 16px;
$smaller-color: #A5A5A5;
$headers: #292929;
$neutral: white;
$social-fa: #F9F9F9;


body {
    font-family: $fonts;
    background-color: $background-color;
}

nav {
    background-color: $nav_background;
    position: relative;
}

nav {
    text-align: center;
    li {
        display: inline-block;
        text-decoration: none;
        padding: 25px 10px;
    }
    a {
        color: $dark-background-font;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 50px;
    }
    a:hover {
        border-bottom: 5px solid $logo-color;
        padding-bottom: 45px;
        text-decoration: none;
        color: $dark-background-font;
    }
    p {
        font-family: $logo-font;
        color: $logo-color;
        font-weight: bold;
        font-size: 60px;
        text-transform: uppercase;
        padding: 0;
        margin: -15px 0;;
    }
    p:last-child {
        font-size: 12px;
    }
    .logo {
        margin: 20px 0;
        text-align: center;
        float: left;
        padding-bottom: 10px;
    }
}

header {
    background-image: url(https://images.pexels.com/photos/900106/pexels-photo-900106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    object-fit: fill;
    text-align: center;
    height: 85vh;
    min-height: 400px;
    position: relative;
}

header .container {
    padding: 0;
    margin: 0;
}

.header-filter {
    background-color: rgba(0, 0, 0, .6);
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 20vh;
}

.header-filter p {
    color: $dark-background-font;
    font-weight: bold;
    text-transform: uppercase;
}

.header-filter p:first-child,
.header-filter p:nth-child(even){
    font-size: 64px;
    margin: 0;
}

.header-filter p:nth-child(even) {
    color: $logo-color;
    line-height: 50px;
}
    
.header-filter .number {
    font-size: 22px;
    margin-top: 20px
}

header button,
.about-us-p button {
    background-color: $logo-color;
    border-radius: 15px;
    margin: 30px auto 60px auto;
    text-align: center;
    width: 200px;
    height: 50px;
    font-weight: bold; 
    text-transform: uppercase;
    border: none;
    color: $dark-background-font;
}

.dot {
    display: inline-block;
    padding: 5px;
    margin: 3px;
    border: 2px solid $logo-color;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.dots div:first-child {
    background-color: $logo-color;
}

row::before,
row::after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: $nav_background;
}

.h2-class p {
    font-size: $smaller-font;
    color: $smaller-color;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
}

.about-us-p {
    color: $p-color;
}

video {
    box-shadow: 6px 6px 15px;
}

.services{
    background-color: $nav_background;
}

.services .h2-class h2 {
    color: $dark-background-font
}

.column {
    text-align: center;
    padding: 10px;
    border-left: 1px solid $p-color;
    height: 210px;
}

.last-column {
    border-right: 1px solid $p-color;
}

.fa {
    font-size: 60px;
    color: $logo-color;
    text-align: center;
    margin: 20px auto;
}

.services h4,
.gallery-content h4 {
    color: $dark-background-font;
    text-transform: uppercase;
    font-weight: bold;
}

.column p,
.layer p {
    color: $dark-background-font;
    padding: 15px;
}

.gallery-content {
    padding: 15px;
}


.gallery-inside {
    height: 250px;
    position: relative;
}

.gallery-inside img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.layer {
    div {
        display: none;
        text-align: center;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        }
    p {
        margin: 0;
    }
}

.layer {
	width: 100%;
    height: 100%;
    position: absolute;
}

 .layer:hover {
 	background-color: rgba(0,0,0, 0.7 );	
 	cursor: pointer;
 	transition: .8s;
}

.layer:hover div {
	display: block;    
}

/*
.about-us h4 {
    margin-top: 15px;
}

.about-us img {
	width: 200px;
	height: 200px;
	object-fit: cover;
    border-radius: 50%; 
    border: 4px solid rgba(165, 165, 165, .6);
}

.about-us .row  {
    padding: 50px 0;
}

.last-story {
    width: 200px;
    height: 200px;
    color: $neutral;
    background-color: $fa;
    font-weight: bold;
    border-radius: 50%;
    padding-top: 45px; 
    margin: 0 auto;
    border: 4px solid rgba(165, 165, 165, .6);
}

.text-capitalize {
    font-weight: bold;
}

.vertical-line::after {
    content: '';
    display: block;
    width: 4px;
    height: 130px;
    background-color: rgba(165, 165, 165, .6);
    position: absolute;
    top: 200px;
    left: 50%;
}

.team img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgba(165, 165, 165, .6);
}

.team-img {
    text-align: center;
}

.team-content {
    padding: 50px;
}

.team-description {
    padding: 15px 5px;
}

.team-social_media .fa {
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid $headers;
    padding: 10px;
    width: 50px;
}

.media {
    background-color: $neutral;
    margin-top: 50px;
    padding: 60px 15px;
}

.logo img {
    width: 100%;
	height: 50px;
	object-fit: contain;
    filter: grayscale(100%);
}

.contact-us {
    background-image: url(http://40chtv.com/wp-content/uploads/2018/02/Maps-World-Map-Black-World-Map.jpg);
}

.contact-us .h2-class h2 {
    color: $dark-background-font;
    padding-top: 15px;
}

button {
    display: block;
    margin: 5px auto 60px auto;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    background-color: $fa;
    color: $neutral;
    font-weight: bold; 
    text-transform: uppercase;
    border: none;
    
}

.contact-us .row {
   padding: 35px 15px;
}

footer {
    margin: 0px auto 40px auto;
    background-color: $neutral;
    padding-top: 30px;
}

.social .fa {
    font-size: 25px;
    border-radius: 50%;
    background-color: $headers;
    color: $social-fa;
    padding: 10px;
    margin: 15px 5px;
    width: 50px;
}

footer p,
footer div {
    text-align: center;
}

@media (max-width: 768px) {
    /* For tablets and smartphones: */
    
 /*   nav ul li {
        display: block;
        float: none;
        text-align: center;
    }
    
    nav img {
        display: block;
        margin: 10px auto;
        position: static;
    }
    
    .header-p p:nth-child(even) {
    font-size: 54px;
}

    
    .layer {
        position: static;
        display: none;
        cursor: auto;
    }
    
    .layer div {
        display: block;
    }
    
    .vertical-line {
        display: none;
    }
}
*/

