@import url('https://fonts.googleapis.com/css?family=Noticia+Text|Open+Sans');

$background-color: #F7F7F7;
$nav_background: #000000;
$dark-background-font: #FFFFFF;

$fonts: 'Open Sans', sans-serif;
$gallery-color: #B49C76;
$fa: #FED541;
$smaller-font: 16px;
$smaller-color: #A5A5A5;
$headers: #292929;
$neutral: white;
$social-fa: #F9F9F9;


body {
    font-family: $fonts;
    background-color: $background-color;
}

nav {
    background-color: $nav_background;
    position: relative;
}

nav {
    ul {
        margin: 0;
    }
    li {
        display: inline-block;
        text-decoration: none;
        float: right;
        padding: 10px;
    }
    a {
        color: $dark-background-font;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 50px;
    }
    img {
        margin-top: 15px;
        position: absolute;
    }
}

header {
    background-image: url(https://images.pexels.com/photos/226003/pexels-photo-226003.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    object-fit: fill;
    text-align: center;
    height: 100vh;
}

.header-p {
    margin-top: 15vh;
}

header button {
    margin-top: 30px;
}

.header-p p {
    color: $dark-background-font;
    padding: 10px;
}

.header-p p:first-child {
    text-transform: capitalize;
    font-size: 46px;
    font-style: italic;
    font-family: 'Noticia Text', serif;
}

.header-p p:nth-child(even) {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 74px;
}

.gallery, 
.about-us,
.services, 
.team {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-fluid,
.media .row {
    max-width: 950px;
    margin: 0 auto;
}
    
row::before,
row::after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
}

.services {
    background-color: $neutral;
}

.services .h2-class {
    margin-bottom: 100px;
}

.gallery .h2-class {
    margin-bottom: 30px;
}

.services p,
.about-us p,
.team p,
footer p {
    font-size: $smaller-font;
    color: $smaller-color;
}

span,
.h2-class p {
    font-size: $smaller-font;
    color: $smaller-color;
    font-style: italic;
}

.services .fa {
    border: 4px solid $fa;
    border-radius: 50%;
    padding: 10px;   
    width: 100px;
    height: 100px;
    line-height: 75px;
    color: $fa;
    font-size: 50px;
    margin-bottom: 15px;
}

h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.gallery h4,
.about-us h4 {
    margin: 0;
}

.about-us {
    background-color: $neutral;
}

.gallery-content {
    padding-top: 30px;
}

.gallery-description {
    padding: 10px 0;
    background-color: $neutral;
}

.gallery-inside {
    height: 250px;
    position: relative;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.layer {
    div {
        border: 2px solid $gallery-color;
        text-transform: uppercase;
        color: $gallery-color;
        display: none;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        width: 100px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        }
    p {
        margin: 0;
    }
}

.layer {
	width: 100%;
    height: 100%;
    position: absolute;
}

 .layer:hover {
 	background-color: rgba(0,0,0, 0.7 );	
 	cursor: pointer;
 	transition: .8s;
}

.layer:hover div {
	display: block;    
}

.about-us h4 {
    margin-top: 15px;
}

.about-us img {
	width: 200px;
	height: 200px;
	object-fit: cover;
    border-radius: 50%; 
    border: 4px solid rgba(165, 165, 165, .6);
}

.about-us .row  {
    padding: 50px 0;
}

.last-story {
    width: 200px;
    height: 200px;
    color: $neutral;
    background-color: $fa;
    font-weight: bold;
    border-radius: 50%;
    padding-top: 45px; 
    margin: 0 auto;
    border: 4px solid rgba(165, 165, 165, .6);
}

.text-capitalize {
    font-weight: bold;
}

.vertical-line::after {
    content: '';
    display: block;
    width: 4px;
    height: 130px;
    background-color: rgba(165, 165, 165, .6);
    position: absolute;
    top: 200px;
    left: 50%;
}

.team img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 4px solid rgba(165, 165, 165, .6);
}

.team-img {
    text-align: center;
}

.team-content {
    padding: 50px;
}

.team-description {
    padding: 15px 5px;
}

.team-social_media .fa {
    font-size: 25px;
    border-radius: 50%;
    border: 2px solid $headers;
    padding: 10px;
    width: 50px;
}

.media {
    background-color: $neutral;
    margin-top: 50px;
    padding: 60px 15px;
}

.logo img {
    width: 100%;
	height: 50px;
	object-fit: contain;
    filter: grayscale(100%);
}

.contact-us {
    background-image: url(http://40chtv.com/wp-content/uploads/2018/02/Maps-World-Map-Black-World-Map.jpg);
}

.contact-us .h2-class h2 {
    color: $dark-background-font;
    padding-top: 15px;
}

button {
    display: block;
    margin: 5px auto 60px auto;
    text-align: center;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    background-color: $fa;
    color: $neutral;
    font-weight: bold; 
    text-transform: uppercase;
    border: none;
    
}

.contact-us .row {
   padding: 35px 15px;
}

footer {
    margin: 0px auto 40px auto;
    background-color: $neutral;
    padding-top: 30px;
}

.social .fa {
    font-size: 25px;
    border-radius: 50%;
    background-color: $headers;
    color: $social-fa;
    padding: 10px;
    margin: 15px 5px;
    width: 50px;
}

footer p,
footer div {
    text-align: center;
}

@media (max-width: 768px) {
    /* For tablets and smartphones: */
    
    nav ul li {
        display: block;
        float: none;
        text-align: center;
    }
    
    nav img {
        display: block;
        margin: 10px auto;
        position: static;
    }
    
    .header-p p:nth-child(even) {
    font-size: 54px;
}

    
    .layer {
        position: static;
        display: none;
        cursor: auto;
    }
    
    .layer div {
        display: block;
    }
    
    .vertical-line {
        display: none;
    }
}


